html, body{
    padding: 0;
    margin: 0;
}

.primary-vedio{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seconday-vedio{
    position: absolute;
    width: 30%;
    max-width: 30%;
    margin: 16px;
    border-radius: 16px;    
}